{% extends 'main.html' %}
{% block videocontent %}
{% load staticfiles %}
{% for vid in Video %}
<iframe width="854" height="480" src={{vid.Video_url}} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h3><a href="onevideo/{{ vid.id }}">{{ vid.Video_name }}</a></h3>
<h5>{{ vid.Video_o }}</h5>
<h5>Дата добавления: {{ vid.Video_data }}</h5>
<h2> <a href="/video/Vaddlikes/{{ vid.id }}"> <img src="{% static 'Like.jpg' %}" width = "100px" height="60px">  {{ vid.Video_likes }}</a></h2>
    {% for com in vid.comments %}
        <h4>{{ com }}</h4>
    {% endfor %}
{% endfor %}
{% endblock %}
